.profileArea{

    flex: 1;
    margin-top: 30px;
    /* margin-left: 570px; */
    margin-left: 30px;
    height: 700px;
    background-color: #ffebe6; 
}

.backgroundImgContainer{
    width: 100%;
    height: 300px;
    overflow: hidden;

}

.backgroundImgContainer img{
    width: 100%;
    height: auto;
    margin: -150px 0 0 0px;
}

.avatarImgContainer{
    width: 150px;
    height: 150px;

    
}

.avatarImgContainer img{
    margin-left: 100px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px black;
    transition: 0.5s
}

.avatarImgContainer img:hover{
    height: auto;
    transform: scale(1.5); 
}

.profileArea:hover{
    box-shadow: 0 0 10px white;
}

.userInfo{
    margin-left: 100px;   
}

.fullName{
    font-size: 20px;
    font-weight: 500; 
}

.status{
    font-size: 10px;
    color: fuchsia;
}

.chooseFileBtn{
    margin-left: 100px;
    margin-bottom: 10px;

    /* background-color:  #80bfff; */

}

