.appWrapper{
    height: 2000px;
    background-color: black
}

.content{
    height: 35%;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px white;
}
.PostsProfileContainer{
    display: flex;
    flex-wrap: wrap;
}